In [56]:
%pylab inline
import pandas as pd
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt
import warnings
from itertools import product


import seaborn
from sklearn import preprocessing
from matplotlib.colors import LogNorm
from sklearn.metrics import accuracy_score
from sklearn  import metrics

from sklearn.preprocessing import MinMaxScaler

Populating the interactive namespace from numpy and matplotlib

/Users/aurinko/anaconda/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['product']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [57]:
weth = pd.read_csv('WeatherSF.csv',',',  dayfirst=True)#, index_col=['Dates'], parse_dates=['Dates'])
#df.columns
weth.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,...,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,TOBS,TOBS_ATTRIBUTES,WT11,WT11_ATTRIBUTES
0,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2003-01-01,0.0,",,0,2400",NaN,NaN,...,NaN,NaN,59,",,0",46,",,0",NaN,NaN,NaN,NaN
1,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2003-01-02,0.0,",,0,2400",NaN,NaN,...,NaN,NaN,57,",,0",48,",,0",NaN,NaN,NaN,NaN
2,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2003-01-03,0.0,",,0,2400",NaN,NaN,...,NaN,NaN,63,",,0",47,",,0",NaN,NaN,NaN,NaN
3,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2003-01-04,0.0,",,0,2400",NaN,NaN,...,NaN,NaN,66,",,0",50,",,0",NaN,NaN,NaN,NaN
4,USW00023272,"SAN FRANCISCO DOWNTOWN, CA US",37.7705,-122.4269,45.7,2003-01-05,0.0,",,0,2400",NaN,NaN,...,NaN,NaN,69,",,0",49,",,0",NaN,NaN,NaN,NaN

In [58]:
weth.shape

(4627, 22)

In [59]:
weth.WT11_ATTRIBUTES.value_counts()

,,7    1
Name: WT11_ATTRIBUTES, dtype: int64

In [64]:
weth = weth.drop('NAME', axis=1)
weth = weth.drop('LATITUDE', axis=1)
weth = weth.drop('LONGITUDE', axis=1)
weth = weth.drop('ELEVATION', axis=1)
weth = weth.drop('TAVG', axis=1)
weth = weth.drop('TAVG_ATTRIBUTES', axis=1)
weth = weth.drop('STATION', axis=1)
weth = weth.drop('PRCP_ATTRIBUTES', axis=1)
weth = weth.drop('TMAX_ATTRIBUTES', axis=1)
weth = weth.drop('SNOW_ATTRIBUTES', axis=1)
weth = weth.drop('SNWD', axis=1)
weth = weth.drop('SNWD_ATTRIBUTES', axis=1)
weth = weth.drop('TOBS', axis=1)
weth = weth.drop('TOBS_ATTRIBUTES', axis=1)
weth = weth.drop('WT11_ATTRIBUTES', axis=1)
weth = weth.drop('TMIN_ATTRIBUTES', axis=1)
weth = weth.drop('WT11', axis=1)
weth

            DATE  PRCP  SNOW  TMAX  TMIN
0     2003-01-01  0.00   NaN    59    46
1     2003-01-02  0.00   NaN    57    48
2     2003-01-03  0.00   NaN    63    47
3     2003-01-04  0.00   NaN    66    50
4     2003-01-05  0.00   NaN    69    49
5     2003-01-06  0.00   NaN    69    52
6     2003-01-07  0.00   NaN    66    47
7     2003-01-08  0.00   NaN    63    45
8     2003-01-09  0.99   NaN    56    50
9     2003-01-10  0.13   NaN    61    53
10    2003-01-11  0.00   NaN    60    53
11    2003-01-12  0.06   NaN    61    54
12    2003-01-13  0.00   NaN    64    54
13    2003-01-14  0.00   NaN    62    51
14    2003-01-15  0.00   NaN    67    50
15    2003-01-16  0.00   NaN    67    49
16    2003-01-17  0.00   NaN    68    48
17    2003-01-18  0.00   NaN    61    45
18    2003-01-19  0.00   NaN    52    44
19    2003-01-20  0.02   NaN    51    44
20    2003-01-21  0.34   NaN    58    49
21    2003-01-22  0.17   NaN    61    51
22    2003-01-23  0.04   NaN    61    55
23    2003-01-24  0.00   NaN    63    54
24    2003-01-25  0.00   NaN    68    53
25    2003-01-26  0.00   NaN    62    55
26    2003-01-27  0.00   NaN    68    51
27    2003-01-28  0.00   NaN    68    51
28    2003-01-29  0.00   NaN    64    49
29    2003-01-30  0.00   NaN    64    51
...          ...   ...   ...   ...   ...
4597  2015-08-03  0.00   NaN    71    62
4598  2015-08-04  0.00   NaN    72    60
4599  2015-08-05  0.00   NaN    70    61
4600  2015-08-06  0.00   NaN    68    59
4601  2015-08-07  0.00   NaN    72    59
4602  2015-08-08  0.00   NaN    65    60
4603  2015-08-09  0.00   NaN    69    59
4604  2015-08-10  0.00   NaN    69    58
4605  2015-08-11  0.01   NaN    66    58
4606  2015-08-12  0.00   NaN    76    58
4607  2015-08-13  0.00   NaN    69    60
4608  2015-08-14  0.01   NaN    71    61
4609  2015-08-15  0.00   NaN    86    62
4610  2015-08-16  0.00   NaN    90    60
4611  2015-08-17  0.00   NaN    72    60
4612  2015-08-18  0.00   NaN    70    59
4613  2015-08-19  0.00   NaN    68    61
4614  2015-08-20  0.00   NaN    65    60
4615  2015-08-21  0.00   NaN    64    59
4616  2015-08-22  0.00   NaN    71    60
4617  2015-08-23  0.00   NaN    69    61
4618  2015-08-24  0.00   NaN    70    60
4619  2015-08-25  0.00   NaN    67    59
4620  2015-08-26  0.00   NaN    70    58
4621  2015-08-27  0.00   NaN    79    60
4622  2015-08-28  0.00   NaN    87    64
4623  2015-08-29  0.00   NaN    72    64
4624  2015-08-30  0.00   NaN    71    62
4625  2015-08-31  0.00   NaN    75    60
4626  2015-09-01  0.00   NaN    70    61

[4627 rows x 5 columns]

In [73]:
weth.TMIN.isnull().sum()

0

In [75]:
weth.SNOW.isnull().sum()

0

In [74]:
weth.SNOW.fillna(1.0, inplace=True)

In [70]:
weth.shape

(4627, 5)

In [65]:
weth.SNOW.value_counts()

0.0    1377
Name: SNOW, dtype: int64

In [63]:
weth.TMIN_ATTRIBUTES.value_counts()

,,0     2917
,,W      890
,,X      809
,,Z        9
,O,0       1
,I,0       1
Name: TMIN_ATTRIBUTES, dtype: int64

In [76]:
weth

            DATE  PRCP  SNOW  TMAX  TMIN
0     2003-01-01  0.00   1.0    59    46
1     2003-01-02  0.00   1.0    57    48
2     2003-01-03  0.00   1.0    63    47
3     2003-01-04  0.00   1.0    66    50
4     2003-01-05  0.00   1.0    69    49
5     2003-01-06  0.00   1.0    69    52
6     2003-01-07  0.00   1.0    66    47
7     2003-01-08  0.00   1.0    63    45
8     2003-01-09  0.99   1.0    56    50
9     2003-01-10  0.13   1.0    61    53
10    2003-01-11  0.00   1.0    60    53
11    2003-01-12  0.06   1.0    61    54
12    2003-01-13  0.00   1.0    64    54
13    2003-01-14  0.00   1.0    62    51
14    2003-01-15  0.00   1.0    67    50
15    2003-01-16  0.00   1.0    67    49
16    2003-01-17  0.00   1.0    68    48
17    2003-01-18  0.00   1.0    61    45
18    2003-01-19  0.00   1.0    52    44
19    2003-01-20  0.02   1.0    51    44
20    2003-01-21  0.34   1.0    58    49
21    2003-01-22  0.17   1.0    61    51
22    2003-01-23  0.04   1.0    61    55
23    2003-01-24  0.00   1.0    63    54
24    2003-01-25  0.00   1.0    68    53
25    2003-01-26  0.00   1.0    62    55
26    2003-01-27  0.00   1.0    68    51
27    2003-01-28  0.00   1.0    68    51
28    2003-01-29  0.00   1.0    64    49
29    2003-01-30  0.00   1.0    64    51
...          ...   ...   ...   ...   ...
4597  2015-08-03  0.00   1.0    71    62
4598  2015-08-04  0.00   1.0    72    60
4599  2015-08-05  0.00   1.0    70    61
4600  2015-08-06  0.00   1.0    68    59
4601  2015-08-07  0.00   1.0    72    59
4602  2015-08-08  0.00   1.0    65    60
4603  2015-08-09  0.00   1.0    69    59
4604  2015-08-10  0.00   1.0    69    58
4605  2015-08-11  0.01   1.0    66    58
4606  2015-08-12  0.00   1.0    76    58
4607  2015-08-13  0.00   1.0    69    60
4608  2015-08-14  0.01   1.0    71    61
4609  2015-08-15  0.00   1.0    86    62
4610  2015-08-16  0.00   1.0    90    60
4611  2015-08-17  0.00   1.0    72    60
4612  2015-08-18  0.00   1.0    70    59
4613  2015-08-19  0.00   1.0    68    61
4614  2015-08-20  0.00   1.0    65    60
4615  2015-08-21  0.00   1.0    64    59
4616  2015-08-22  0.00   1.0    71    60
4617  2015-08-23  0.00   1.0    69    61
4618  2015-08-24  0.00   1.0    70    60
4619  2015-08-25  0.00   1.0    67    59
4620  2015-08-26  0.00   1.0    70    58
4621  2015-08-27  0.00   1.0    79    60
4622  2015-08-28  0.00   1.0    87    64
4623  2015-08-29  0.00   1.0    72    64
4624  2015-08-30  0.00   1.0    71    62
4625  2015-08-31  0.00   1.0    75    60
4626  2015-09-01  0.00   1.0    70    61

[4627 rows x 5 columns]

In [78]:
weth.columns

Index([u'DATE', u'PRCP', u'SNOW', u'TMAX', u'TMIN'], dtype='object')

In [77]:
weth.to_csv('weather.csv', sep=',', index=False)